{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href=".">
              <i class="fa fa-codepen"></i>
              Apps
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
