{% extends 'dash/base.html' %}

{% load static %}

{% block sub_title %}
  Example Settings
{% endblock sub_title %}

{% block sub_heading %}
  Example Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Record</h4>
    </div>
  </div>
  {% include 'record/_settings.html' %}
{% endblock content %}
