<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>API</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'api.activity.log.list' %}" class="pure-menu-link">
      <i class="fa fa-history"></i>
      Activity Log
    </a>
  </div>
</div>

