{% extends 'dash/base.html' %}

{% block sub_title %}
  Activity Log
{% endblock sub_title %}

{% block sub_heading %}
  Activity Log
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Settings
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.id }}
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ x.level }}
              </td>
              <td>
                {{ x.message }}
                {% if x.trace %}
                  <br>
                  <small>
                    {{ x.trace }}
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
